*DS_Store*
*.cache
*.log
build/*
*.build
*.pbxuser
*.perspectivev3
Makefile
*~
config.h
confdefs.h
conftest*
*.o
*.status
libtool
stamp-h*
*.dylib
*.la
*.lo
*.lai
lib*.a
lib*/lib*.a
lib*/*lib*/lib*.a
alloca.h
arg-nonnull.h
c++defs.h
dirent.h
fcntl.h
getopt.h
inttypes.h
math.h
poll.h
stdint.h
string.h
strings.h
sys/stat.h
unistd.h
unused-parameter.h
warn-on-use.h
autoscan/autoscan.list
*(Autosaved)*
*deps/*.*o
*.dirstamp
