*DS_Store*
*.cache
*.log
./build/Debug
build/*
*.build
*.pbxuser
*.perspectivev3
*.xcodeproj/*.xcworkspace/xcuserdata/*
*.xcuserdatad
*.xcuserstate
Makefile
*~
config.h
confdefs.h
conftest*
*.o
*.o.tmp
*.status
libtool
stamp-h*
*.dylib
*.la
*.lo
*.lai
lib*.a
lib*/lib*.a
lib*/*lib*/lib*.a
alloca.h
alloca.h-t
arg-nonnull.h
arg-nonnull.h-t
c++defs.h
c++defs.h-t
dirent.h
dirent.h-t
fcntl.h
fcntl.h-t
getopt.h
getopt.h-t
inttypes.h
inttypes.h-t
math.h
math.h-t
poll.h
poll.h-t
stdint.h
stdint.h-t
string.h
string.h-t
strings.h
strings.h-t
./sys
sys/socket.h
sys/socket.h-t
sys/stat.h
sys/stat.h-t
unistd.h
unistd.h-t
unused-parameter.h
unused-parameter.h-t
warn-on-use.h
warn-on-use.h-t
autoscan/autoscan.list
*(Autosaved)*
*deps/*.*o
*.dirstamp
locale.h
locale.h-t
stddef.h
stddef.h-t
charset.alias
ref-add.sed
ref-del.sed
configmake.h
configmake.h-t
./scan_build_output
float.h
float.h-t
stdbool.h
stdbool.h-t
stdio.h
stdio.h-t
signal.h
signal.h-t
errno.h
errno.h-t
.libs/*test
.libs/relocwrapper
chdirlongtest
getopt*test
mktimetest
relocwrapper

# dist stuff:
libunixtoosx-*.*.*/*
*.tar.gz
